body {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.box {
  width: 1110px;
  height: 349px;
  border-radius: 12px;
  display: flex;
  background-image: url(./assets/img/call.png);
  background-color: #121212;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position: right 60px bottom 0px;
  gap: 76px;
  
  margin: 0;
}

.paragraf{
  width: 508px; 
  padding-left: 96px;
  padding-top: 83px;
  gap: 24px;
  padding-bottom: 82px;

  }
   
    
.button {
  background-color: #DC3545;
  font-family:'Montserrat', sans-serif;
  font-size: 23px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 3px;
  stroke: none;
  padding: 16px;
  width: 280px;
}